/**
 * HW1 - Wireframe
 **/

* {
  box-sizing: border-box;
  text-align: center;
}

body {
	background: #777;
}

#container {
	background-color: #777;
	width: 960px;
	margin: 10px auto 25px auto;
}

#header {
  padding: 40px;
  margin-bottom: 10px;
  background: #ebebeb;
  height: 100px;
  width: 100%;
}

#nav {
	padding: 40px;
  	margin-bottom: 20px;
  	background: #ebebeb;
  	height: 100px;
  	width: 100%;
}

#right {
}

#full {
	background: #ebebeb;
	float: left;
	margin-bottom: 20px;
	height: 300px;
	width: 495px;
}

#section{
	padding-top: 50px;
}
article{
	padding-top: 20px;
	background-color: #777;
	margin-top: 40px;
	height: 200px;
	margin: 20px 10px 10px 10px;
}

.hhh {
	background-color: #ebebeb;
	height: 50px;
	margin-top: 30px;
	margin-left: 20px;
	margin-right: 20px;
}

.p_div{
	background-color: #ebebeb;
	height: 50px;
	margin-bottom: 10px;
	margin-left: 20px;
	margin-right: 20px;
}

aside {
	padding-top: 50px;	
  	margin-bottom: 20px;
  	margin-left: 20px;
	float: left;
	background-color: #ebebeb;
/*	text-align: center;
	vertical-align: center;*/	
	height: 300px;
	width: 445px;
}

footer {
	clear: both;
  	padding: 40px;
  	margin-bottom: 20px;
  	background: #ebebeb;
  	height: 100px;
  	font-family: "arial"
  	font-size: 18px;
  	width: 100%;
}
